* {box-sizing: border-box} /* the astericks indicates that the styling is applied to whole stylesheet. 
Defines how the width and height of an element are calculated: should they include padding and borders, or not.
"border box" includes a border and the width and height apply to all parts of the element: content, padding and border. 
*/
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none} /* commonly used with JavaScript to hide and show elements without deleting and recreating them.*/
img {vertical-align: middle;} /* The vertical-align property sets the vertical alignment of the image."middle" means the image is placed in the middle of the parent element   */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px; /* sets the maximum width of the slide show container to 10000px*/
  position: relative; /*slide show container is positioned relative to its normal position*/
  margin: auto; /*Margins are used to create space around elements, outside of any defined borders. "Auto" means the browswer will calculates the margin*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute; /*this means the arrows stay at that position on the page and don't move. */
  top: 50%; /*means place the next/previous button 50% of container from the top of the container*/
  width: auto; /*the browser calculates the width of the button*/
  padding: 16px; /*16 px padding on all sides*/
  margin-top: -22px; /*sets the top margin. The negative value pulls content up */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease; /*CSS transitions allows you to change property values smoothly, over a given duration. "Ease" specifies a transition effect with a slow start, then fast, then end slowly (this is default)*/
  border-radius: 0 3px 3px 0;
  user-select: none; /*the user select property specifies whether the user can double click on some text and select/highlight it. "None" means user can not. */
}

/* Position the "next button" to the right */
.next {
  right: 0; /*positions next button 0 px away from the right edge*/
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px; /* 8px top and bottom, 12 px right and left*/
  position: absolute; /*this means the caption stays at that position on the page and doesn't move*/
  bottom: 8px; /* 8px away from the bottom of the container*/
  width: 100%; 
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px; /*8px top and bottom, 12px left and right*/
  position: absolute; /*this means that the "1/3" stays at that position on the page and doesn't move*/
  top: 0; /*place 0 px away from top of container*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px; /*top and bottom margin 0px, left and right margin 2px*/
  background-color: #bbb;
  border-radius: 50%; /**/
  display: inline-block; /**/
  transition: background-color 0.6s ease; /*CSS transitions allows you to change property values smoothly, over a given duration. 
  "Ease" specifies a transition effect with a slow start, then fast, then end slowly (this is default)*/
}

.active, .dot:hover { /**/
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade; /*"webkit is for Safari browswer*/
  -webkit-animation-duration: 1.5s;
  animation-name: fade; /* Names the animation*/
  animation-duration: 1.5s; /*take 1.5s to fade out*/
}

@-webkit-keyframes fade { /*corresponds to webkit-animation-name*/
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade { /*corresponds to the amimation-name fade*/
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px} /*if the max width of the users device is 300px, make the font size of the text (the captions), and the next and previous buttons 11px*/
}